body {
    margin: 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(../img/4_page/bgrnd.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 25px;
}

/* header */

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header_section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 50px;
    text-align: center;
}

.header_suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.header_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.header_title::after {
    content: "";
    display: block;
    height: 5px;
    width: 60px;
    margin: 30px auto;
    border-radius: 3px;
    background-color: #f38181;
}

/* main */

.opinion {
    display: flex;
}

.opinion_col {
    flex: 1;
}

.client {
    padding: 5px;
}

.opinion_item {
    width: 100%;
    height: 200px;
    padding: 0 40px 70px 110px;
    background-color: rgba(2, 13, 15, 0.1);
    border: 1px;
    border-radius: 5px;

    position: relative;
}

.item_info {
    margin: 0;;
}

.item_img {
    top: 10px;
    left: 10px;
    z-index: 1;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.item_title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding-top: 5px;
}

.item_subtitle {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
}

.item_subtitle::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    margin: 10px auto 10px 0;
    border-radius: 3px;
    background-color: #f38181;
}

.item_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;   
}

/* Feedbak container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    margin-top: 50px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    height: 200px;
    text-align: left;
  }

  .content {
    position: relative;
    padding: 30px 60px 60px 200px;
  }

  .icon {
    position: absolute;
    top: 30px;
    left: 80px;
    z-index: 1;
    border: 3px solid #95e1d3;
    padding: 15px;

  }

  q {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }

  .author {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
  }

  .author::before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 50px;
    border-radius: 3px;
    background-color: #f38181;
    margin: 5px 10px 5px 0;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;

    transition: background-color 0.3s linear, color 0.3s linear;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(2, 13, 15, 0.15);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: rgba(2, 13, 15, 0.1);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }

  #ySlides {
    transition: all 1.2s ease-in-out;
}

/* adaptation */

@media (max-width: 990px) {

    .opinion {
      display: block;
    }
    
}

@media (max-width: 770px) {

  .item_img {
    width: 60px;
    height: 60px;
  }

  .opinion_item {
    padding: 0 40px 70px 80px;
  }

  .mySlides {
    height: auto;
  }
    
}

@media (max-width: 575px) {



  }
    